<div id="container-carousel">
	<div id="carousel-div">
		<div class="owl-carousel">
			<% Slideshow.all.each do |x| %>
				<div class="item"><img src="<%= x.avatar.url %>"></div>
			<% end %>
		</div>
	</div>
</div>

<h1 id= "home_past_work">Current Work</h1>
<div id="home_current_work">
	<% Project.all.each do |x| %>
		<div id="box">
			<a href="/project_show/<%= x.id %>"><img src="<%= x.avatar.url %>"/></a>
		</div>
	<% end %>
</div>

<h1 id= "home_past_work">Past Work</h1>
<div id="test">
	<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 50 }'>
		<% Masonry.all.each do |x| %>
			<% if x.size == "1" %>
				<div class="item w1 h1">
			<% elsif x.size == "2" %>
				<div class="item w2 h2">
			<% elsif x.size == "3" %>
				<div class="item w3 h3">
			<% end%>
			<a href="<%= x.avatar.url %>" title="" class="thickbox"><img src="<%= x.avatar.url %>" alt="Single Image"/></a>

			</div>
		<% end %>
	</div>

</div>








