
<div id="update_slideshow">
  <h2>Listing All Current Rooms</h2>
</div>

<div id="update_slideshow_button">
  <%= link_to 'back', admin_update_current_work_home_path, :class => 'btn btn-mini' %>
</div>

<div id="update_slideshow_button">
  <%= link_to 'Create New Room', project_path(51), :class => 'btn btn-mini' %>
</div>


<div class="row">
  <ul class="thumbnails files">
<% unless Room.all.empty? %>
  <% Room.all.each do |pic| %>
    <li class="span3" id="picture_<%= pic.id %>">
    <div class="thumbnail">
      <%= pic.name %>
      <div class="caption">
        <p style="text-align: center;">
         <%= link_to "Edit Project", project_room_path(51, 115) %> | 
        <%=
          link_to "Delete Project", project_room_path(51, 115),
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>