<% if @current_user.admin == true %>


<div id="update_slideshow">
  <h2>Listing All Current Rooms</h2>
</div>

<div id="update_slideshow_button">
  <%= link_to 'back', admin_update_current_work_home_path, :class => 'btn btn-mini' %>
</div>

<div id="update_slideshow_button">
  <%= link_to 'Create New Room', project_path(@project), :class => 'btn btn-mini' %>
</div>


<div class="row">
  <ul class="thumbnails files">
<% unless Project.find(@project).rooms.all.empty? %>
  <% Project.find(@project).rooms.all.each do |pic| %>
    <li class="span3" id="picture_<%= pic.id %>">
    <div class="thumbnail">
      <%= pic.name %>
      <div class="caption">
        <p style="text-align: center;">
         <%= link_to "Edit Project", project_room_path(@project, pic.id) %> | 
        <%=
          link_to "Delete Project", project_room_path(@project, pic.id),
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>

<% end %>