<% if @current_user.admin == true %>


  <style>
    header {margin: 1em 0 0 1.5em;}
    body {font-family: arial;}
    #floorplan {
      background: url(<%= @project.avatar.url %>);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      width: 900px;
      height: 700px;
      position: relative;

    }
    #resizable { 
      top: 285px;
      left: 575px;
      width: 150px; 
      height: 150px; 
      padding: 0.5em; 
      background-color: rgba(10, 10, 10, .1); 
      border: 2px solid red;
    }
    .ui-resizable {
      position: absolute;
    } 
    #resizable h3 { text-align: center; margin: 0; padding: .5em; }

    <% Room.all.each do |x| %>
      [data-fancybox-group="thumb<%= x.name %>"] {
            background-color: rgba(<%= rand(0..255) %>,<%= rand(0..255) %> ,<%= rand(0..255) %>,0.2);
      }
    <% end %>
  </style>

  <script>
  $(function() {
    $( "#resizable" ).resizable({
        resize: function( event, ui ) {
        }
      }).draggable({
        stop: function( event, ui ) {
        } 
      });
  });
  $(document).ready(function(){
    $("#new_room").submit(function(){
      var room_name = $('#room_name').val();
      var path_left = $("#resizable").css('left');
      var path_top = $("#resizable").css('top');
      var objects_height = $("#resizable").css('height');
      var objects_width= $("#resizable").css('width');
      $.post( "/projects/<%= @project.id %>/rooms", { room: {name: room_name, path_left: path_left, path_top: path_top, path_width: objects_width, path_height: objects_height, project_id: <%= @project.id %>} }, function() {}, "json" )
    });
});
  </script>

  <div id="update_slideshow_button">
  <%= link_to 'back', "/project_info/#{@project.id}", :class => 'btn btn-mini' %>
</div>

</head>
     <%= form_for [@project, @room], url: project_rooms_path(@project), :html => { :class => 'form-horizontal', multipart: true }  do |f| %>

        <%= f.text_field :name, placeholder: "Room Name" %><br />

        <%= f.submit :class => 'formbuttons', :id => 'submitButton', remote: true%>

      <% end %>

  <main>
   <div id="floorplan">
      <% Project.find(@project.id).rooms.each do |x| %>
        <% if x.pictures.all.count == 1 %>
          <a data-fancybox-group="thumb<%= x.name %>" style="position: absolute; left: <%= x.path_left %>; top: <%= x.path_top %>; width: <%= x.path_width %>; height: <%= x.path_height %>;">        
         </a>
        <% else %>
          <% x.pictures.each do |y| %>
            <a data-fancybox-group="thumb<%= x.name %>" style="position: absolute; left: <%= x.path_left %>; top: <%= x.path_top %>; width: <%= x.path_width %>; height: <%= x.path_height %>;">        
            </a>
          <% end %>
        <% end %>
      <% end %>
    <div id="resizable">
    </div>
    </div>
  </main>
 
 <% end %>
