
  <style>
    header {margin: 1em 0 0 1.5em;}
    body {font-family: arial;}
    main {
      background: url(<%= @project.avatar.url %>);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      width: 900px;
      height: 700px;

    }
    #resizable { 
      top: 45px;
      left: 500px;
      width: 150px; 
      height: 150px; 
      padding: 0.5em; 
      background-color: rgba(10, 10, 10, .1); 
      border: 2px solid red;
    }
    #resizable h3 { text-align: center; margin: 0; padding: .5em; }
  </style>

  <script>
  $(function() {
    $( "#resizable" ).resizable({
        resize: function( event, ui ) {
          $('#resizable_event').text("you resized the box to " + ui.size.width + " pixels wide by " + ui.size.height + " pixels high.");
        }
      }).draggable({
        stop: function( event, ui ) {
          $('#resizable_event').text("you moved the box to " + ui.position.top + " pixels top by " + ui.position.left + " pixels left.");
        }
      });
  });
  $(document).ready(function(){
    $("#new_room").submit(function(){
      var room_name = $('#room_name').val();
      var path_left = $("#resizable").css('left');
      var path_top = $("#resizable").css('top');
      var objects_height = $("#resizable").css('height');
      var objects_width= $("#resizable").css('width');
      $.post( "/projects/<%= @project.id %>/rooms", { room: {name: room_name, path_left: path_left, path_top: path_top, path_width: objects_width, path_height: objects_height, project_id: <%= @project.id %>} }, function() {}, "json" )
    });
});
  </script>

  <div id="update_slideshow_button">
  <%= link_to 'back', projects_path, :class => 'btn btn-mini' %>
</div>

</head>
     <%= form_for [@project, @room], url: project_rooms_path(@project), :html => { :class => 'form-horizontal', multipart: true }  do |f| %>

        <%= f.text_field :name, placeholder: "Room Name" %><br />

        <%= f.submit :class => 'formbuttons', :id => 'submitButton', remote: true%>

      <% end %>

  <main>
  <script>

</script>
    <div id="resizable">
    </div>
  </main>
 
 
