<div id="update_slideshow">
	<h2>List of all Pictures associated with <%= @rooms.name %></h2>
</div>

<div id="update_slideshow_button">
  <%= link_to 'back', projects_path, :class => 'btn btn-mini' %>
</div>

<div id="update_slideshow_button">
  <%= link_to 'Add Picture', new_project_room_picture_path(@projects, @rooms), :class => 'btn btn-mini' %>
</div>

<div class="row">
  <ul class="thumbnails files">
<% unless Room.find(@rooms).pictures.all.empty? %>
  <% Room.find(@rooms).pictures.all.each do |pic| %>
    <li class="span3" id="picture_<%= pic.id %>">
    <div class="thumbnail">
      <%= image_tag pic.image.url %>
      <div class="caption">
        <p style="text-align: center;">
        <%=
          link_to "Delete picture", project_room_picture_path(@projects, @rooms, pic.id),
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>